{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "modules": false
    }],
    "stage-2",
    "react",
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
